.user-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .dropbtn {
    background-color: rgb(217, 196, 74);
    color: white;
    padding: 5px;
    border: 2px solid rgb(217, 196, 74) ;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(171, 154, 59);
    border: 2px solid rgb(171, 154, 59) ;
  }